*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #acd7ff;

}
span {
    text-transform: uppercase;
    font-weight: 550;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
    color: #99332E;
}

header {
    background-color: #e44552f6;
    color: rgb(255, 255, 255);
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nome span {
    color:#f3fca5;
    margin-top: 8px;
}

.menu {
    display: flex;
    gap: 20px;
}

.inicial a {
    font-weight: bold;
    background-color: rgb(255, 170, 100);
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(225, 157, 55);
}

.personagens a {
    font-weight: bold;
    background-color: rgb(255, 170, 100);
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(225, 157, 55);
}

.curiosidades a {
    font-weight: bold;
    background-color: rgb(255, 170, 100);
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(225, 157, 55);
}

#curiosidades {
    padding: 23px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    gap: 10px;
    background-color: #ffecac;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

#curiosidades h2 {
    font-size: 43px;
    padding-bottom: 10px;
}

#imagem img {
    width: 595px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    margin: 30px;

}

#blocoprincipal {
    background-color: #81b2e0ea;
    padding: 20px;
    border-radius: 20px;
    border-style: solid;
    border-color: #e3f1fdea;
    margin: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.cards {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.card {
    gap: 20px;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    border-style: solid;
    border-color:#78a2c9f6;
    flex-direction: row;
    text-align: left;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card span {
    font-size: 30px;
}

.card h3 {
    margin-top: 8px;
    padding: 20px;
}

.card p {
    font-weight: 520;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    background-color: #e44552f6;
    color: white;
    padding: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link {
    display: flex;
    gap: 20px;
}

.links1 {
    font-weight: bold;
    background-color: rgb(255, 170, 100);
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(225, 157, 55);
    padding: 10px;
}

.links2 {
    font-weight: bold;
    background-color: rgb(255, 170, 100);
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(225, 157, 55);
    padding: 10px;
}

a:hover {
    color: rgb(180, 108, 25);

}
