*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #acd7ff;

}
span {
    text-transform: uppercase;
    font-weight: 550;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
    color: #99332E;
}

header {
    background-color: #e44552f6;
    color: rgb(255, 255, 255);
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.nome span {
    color:#f3fca5;
    margin-top: 8px;
}

.menu {
    display: flex;
    gap: 20px;
}

.inicial a {
    font-weight: bold;
    background-color: rgb(255, 170, 100);
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(225, 157, 55);
}
.personagens a {
    font-weight: bold;
    background-color: rgb(255, 170, 100);
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(225, 157, 55);
}

.curiosidades a {
    font-weight: bold;
    background-color: rgb(255, 170, 100);
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(225, 157, 55);
}
   

#apresentacao {
    background-color:#ffecac;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

#apresentacao h2 {
    font-size: 55px;
    margin-bottom: 10px;
}

#apresentacao p {
    font-size: 16px;
}
#personagens {
    padding: 20px;
}

#personagens h2 {
    font-size: 32px;
    padding-bottom: 5px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: white;
    padding: 10px;
    width: 30%;
    border-radius: 20px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 20px;
    height: 300px;
    object-fit: cover;
}

.card h3 {
    margin-top: 10px;
}

.card p {
    margin-top: 8px;
    font-weight: 500;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gotocuriosidades {
    text-align: center;
    background-color:  #ffecac;
    padding: 25px;
}

.gotocuriosidades h3 {
    margin-bottom: 20px;
}

.gotocuriosidades a {
    font-weight: bold;
    background-color: rgb(255, 170, 100);
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(225, 157, 55);
}

footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    background-color: #e44552f6;
    color: white;
    padding: 20px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link {
    display: flex;
    gap: 20px;
}

.links1 {
    font-weight: bold;
    background-color: rgb(255, 170, 100);
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(225, 157, 55);
    padding: 10px;
}

.links2 {
    font-weight: bold;
    background-color: rgb(255, 170, 100);
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(225, 157, 55);
    padding: 10px;
}

a:hover {
    color: rgb(180, 108, 25);

}
